
.math-keyboard-symbols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 400px;
  margin-bottom: 10px;
}

.math-keyboard-symbols button {
  padding: 10px;
  background: #5f6368;
  border: 1px solid #5f6368;
  box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.math-keyboard-symbols button:hover {
  background: #b9b8b8;
}

div.math-keyboard-symbols {
  width: 254px;
  height: 125px;
}

.math-keyboard-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 400px;
  margin-bottom: 10px;
}

div.math-keyboard-numbers {
  width: 254px;
  height: 83px;
}

.math-keyboard-numbers button {
  padding: 10px;
  background: #3c4043;
  border: 1px solid #3c4043;
  box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  transition: background 0.3s;
}

.math-keyboard-numbers button:hover {
  background: #b9b8b8;
}