
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    position: relative;
}


header,
footer {
    background: #295078;
    color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    position: relative;
    transition: margin-left 0.3s;
}

/* main {
    display: flex;
    flex: 1;
     transition: margin-left 0.3s;
    background-color: #d7edf1;
    padding: 2vw; /* Usar unidades vw para responsividade }*/

#primary {
    display: flex;
    flex: 1;
    transition: margin-left 0.3s;
    padding: 2vw; /* Usar unidades vw para responsividade */
}


.carousel-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.carousel-nav {
    background-color: #386da6;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.chart-container {
    text-align: center;
    width: 60vw;
    max-width: 800px;
}

#experimentLabel {
    font-size: 1.2em;
    margin-top: 10px;
}



.secondary-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Espaço entre primary e secondary */
}

#secondary {
    width: 70vw; /* Mesma largura de primary */
    max-width: 1200px; /* Limita a largura em telas grandes */
    background-color: white;
    padding: 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Centraliza o conteúdo dentro de secondary */
    margin-bottom: 60px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90vw; /* Responsivo com largura da viewport */
    margin: 0 auto;
    flex-direction: column;
}
.download-image{
    width: 24px;
    height: 24px;
}

.line-chart-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente */
    width: 100%;
    
}

.chart-utilities img{
    cursor: pointer;
}

.top-right-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.top-right-buttons a,
.top-right-buttons button {
  padding: 8px 14px;
  font-size: 0.9em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s ease;
}

.doc-btn {
  background-color: #ffffff20;
  color: #ffffff;
  border: 1px solid #ffffff50;
}

.tour-btn {
  background-color: #ffffff20;
  color: #ffffff;
  border: 1px solid #ffffff50;
}

.doc-btn:hover,
.tour-btn:hover {
  background-color: #ffffff30;
}


#chart-line-container, #box-plot-container {
    width: 55vw; /* Largura baseada na viewport */
    height: 60vh;  /*Altura baseada na viewport */
    padding: 2vw;
    left: 2%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#chart-line-container canvas {
    padding: flex;
    width: 100%;
    height: 100%;
}

#main-container {
    width: 60vw; /* Ajustado para responsividade */
    display: flex;
    padding: 1vw;
    gap: 0.9%;
    flex-direction: column;
    align-items: center;
    overflow-x:auto;
    
}

#execution-status {
    padding-left: 15px; /* Ajuste de alinhamento geral */
}


.result-container {
    background-color: #0f0e0e; /* Fundo branco */
    color: #0fd336;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace; /* Fonte monoespaçada para alinhamento */
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

.result-container p {
    font-family: monospace;
    margin: 5px 0;
    text-align: justify; /* Garante o alinhamento à esquerda dos parágrafos */
}

.generation-values {
    font-family: monospace;
    margin-left: 30px; /* Move os valores das gerações para a direita */
    white-space: pre-wrap; /* Garante que as quebras de linha sejam respeitadas */
}

pre {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}



/* Ajusta ambos os contêineres para serem mais responsivos */
#results-container, #execution-results-container {
    width: 25vw;
    height: 20vw;
    padding: 2vw;
    margin: 10px auto;
    background-color: #c3c3c3;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    font-size: small;
    max-height:430px;
    min-height: 28vw;
    overflow-y: auto;
    color:#414040;
}

#results-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}


#results-container th, #results-container td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
}

#results-container th {
    background-color: #e0e0e0;
    font-weight: bold;
}

#results-container td {
    background-color: #f9f9f9;
}

#results-container th[colspan] {
    border-bottom: 2px solid black;
}

#results-container tr:nth-child(odd) td {
    background-color: #f1f1f1;
}

#used-parameters-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: rgb(2, 75, 127);
    font-family: "Courier New";
}

#used-parameters-table tr, #used-parameters-table td {
    border: 1px solid #c3c3c3;
    padding: 3px;
}

#used-parameters-table td {
    background-color: #c3c3c3;
    text-align: left;
}

#used-parameters-table tr:nth-child(odd) td {
    background-color: #a2a2a2;
}

.function-input-container {
    background: #1f1f1f;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
}

.function-input {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.function-input input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
    border-color: #545050;
    color: #e3eaf1;
    background-color: #2e2d2d;
}

.function-input button {
    padding: 10px;
    background: #21649a;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 60px;
}

.function-input button:hover {
    background: #70b8e9;
}

.toggle-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #004278;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 11;
    transition: background 0.3s;
}

.toggle-button:hover {
    background: #303f9f;
}

.toggle-button:focus {
    outline: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade 50% */
    z-index: 5;
    display: none; /* Inicia oculto */
}

aside {
    width: 250px;
    background: #f0feff;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10; /* Sidebar acima do overlay */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-container {
    padding-top: 60px;
}

.aside-visible {
    transform: translateX(0);
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-size: 0.8em;
}

form input,
form textarea {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #d5d2d2;
    border-radius: 4px;
    font-size: 0.9em;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #303f9f;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: flexbox;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="range"],
.form-group select {
    width: 70%;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.form-group-inline label {
    flex: 1;
}

.form-group-inline input[type="text"],
.form-group-inline input[type="number"] {
    flex: 2;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.round {
    border-radius: 50%;
}

@media (max-width: 1000px) {

    main 
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: margin-left 0.3s;
        background-color: #d7edf1;
        padding: 2vw; /* Usar unidades vw para responsividade */
    }

    #chart-line-container, #box-plot-container
    {
        width: 100%; /* O gráfico ocupará 90% da largura da viewport em telas menores */
        padding: 1vw;
        margin: 10px auto; /* Margem menor para manter o layout compacto */
        border-radius: 8px;
    }
    

    .line-chart-utilities {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #main-container {

        display: flex;
        padding: 1vw;
        flex-direction: column;
        align-items: flex-start;
        overflow-x:auto;
    }

}
