body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}


header,
footer {
    background: #386da6;
    color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    position: relative;
    transition: margin-left 0.3s;
}

main {
    display: flex;
    flex: 1;
    transition: margin-left 0.3s;
    background-color: #e3eaf1;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Mantém ambos os elementos com a mesma altura */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}



#box-plot-chart {
    width: 80%;
    margin: 20px auto; /* Adiciona um espaço entre o gráfico e o box-plot */
    text-align: center; /* Centraliza o conteúdo */
    background-color: #ffffff; /* Cor de fundo para destacar */
    padding: 20px; /* Adiciona um preenchimento */
    border-radius: 8px; /* Canto arredondado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    position: relative;
}

.keep_chart {
    text-align: center;
}


#chart-container {
    width: 80%; /* Gráfico ocupa 70% do espaço */
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px; /* Define uma altura fixa */
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 8px solid #e8e6e6;
    border-top: 8px solid #00cb29;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 10; /* Isso garante que o spinner fique acima do conteúdo do gráfico */
}


#chart-container canvas {
    padding: flex;
    width: 100%;
    height: 100%; /* O canvas ocupa toda a altura do contêiner */
}

#results-container {
    width: 30%; /* Tabela ocupa 25% do espaço */
    padding: 20px;
    margin: 20px auto;
    background-color: #c3c3c3;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    font-size: small;
    max-height: 500px; /* Define a mesma altura do gráfico */
    overflow-y: auto; /* Adiciona scroll quando o conteúdo excede a altura */
}

#results-container table {
    width: 100%;
    border-collapse: collapse;
}

#results-container th, #results-container td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #0c0c0c;
}


.function-input-container {
    background: #1f1f1f;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
}

.function-input {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.function-input input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
    border-color: #545050;
    color: #e3eaf1;
    background-color: #2e2d2d;
}

.function-input button {
    padding: 10px;
    background: #21649a;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 60px;
}

.function-input button:hover {
    background: #70b8e9;
}

.math-keyboard-symbols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 400px;
    margin-bottom: 10px;
}

.math-keyboard-symbols button {
    padding: 10px;
    background: #5f6368;
    border: 1px solid #5f6368;
    box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

.math-keyboard-symbols button:hover {
    background: #b9b8b8;
}

div.math-keyboard-symbols {
    width: 254px;
    height: 125px;
}


.math-keyboard-numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 400px;
    margin-bottom: 10px;
}


div.math-keyboard-numbers {
    width: 254px;
    height: 83px;
}

.math-keyboard-numbers button {
    padding: 10px;
    background: #3c4043;
    border: 1px solid #3c4043;
    box-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    transition: background 0.3s;
}

.math-keyboard-numbers button:hover {
    background: #b9b8b8;
}

.toggle-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #004278;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transition: background 0.3s;
}

.toggle-button:hover {
    background: #303f9f;
}

.toggle-button:focus {
    outline: none;
}

aside {
    width: 250px;
    background: #f0feff;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-container {
    padding-top: 60px; /* Espaço para o botão */
}

.aside-visible {
    transform: translateX(0);
}




@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-size: 0.8em;
}

form input,
form textarea {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #d5d2d2;
    border-radius: 4px;
    font-size: 0.9em;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #303f9f;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: flexbox;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="range"],
.form-group select {
    width: 70%;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.form-group-inline label {
    flex: 1;
}

.form-group-inline input[type="text"],
.form-group-inline input[type="number"] {
    flex: 2;
}

@media (max-width: 1310px) {
    
}
